* {
  margin: 0;
  padding: 0;
}



#onboarding {
  background: #ffffff;
  background: var(--background_white);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--radius-xl) 20px
}

.onboarding-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--radius-l);
  height: 100%;
}

.onboarding-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.onboarding-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  gap: 10px;
}

#onboarding-title {
  font-weight: lighter;
}

#onboarding-subtitle {
  font-weight: lighter;
  color: var(--brand-light-green);
}

#onboarding-title,
#onboarding-subtitle {
  text-align: center;
  font-size: 36px;
}

#onboarding-subsubitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: var(--regular-text);
}

#skip-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

#interative-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}