* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#onboarding.first-slide-bg {
  background: #ffffff;
  background: linear-gradient(355deg, rgba(255, 255, 255, 1) 0%, rgba(111, 156, 70, 0.6) 100%);
}


#onboarding {
  background: var(--background-white);
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--radius-xl) 0px;
  overflow: hidden;
}

.onboarding-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--radius-l);
  height: 100%;
}

.onboarding-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.onboarding-content {
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.onboarding-content.scrollable {
  overflow-y: auto;
}

.onboarding-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  gap: 16px;
  padding: 0 20px
}

#onboarding-title {
  font-weight: lighter;
}

#onboarding-subtitle {
  font-weight: lighter;
  color: var(--brand-light-green);
}

#onboarding-title,
#onboarding-subtitle {
  text-align: center;
  font-size: 36px;
}

#onboarding-subsubitle {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: var(--regular-text);
}

#skip-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;

}

#interative-content-onboarding {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 0 24px;
}