.saved-card{
    width: 100%;
    height: 80px;
    border-radius: 1rem;
    background-color: var(--Box-Almost-White, #f5f4f2);
    display: flex;
    align-items: center;
}

#saved-card-content {
    padding-right: 1rem;
    padding-left: 1rem;
}