.saved-card{
    width: 100%;
    border-radius: 1rem;
    background-color: var(--Box-Almost-White, #f5f4f2);
    border: 1px solid var(--Stroke-Light-Grey, #e7e7e7);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

#saved-card-content {
    padding-right: 1rem;
    padding-left: 1rem;
}