html,
body {
  margin: 0;
  padding: 0;
}

#bottom-navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-white);
}

#bottom-navigation-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.add-button-container {
  display: flex;
  background: var(--Box-Almost-White, #f5f4f2);
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  width: 60px;
  height: 44px;
  padding: 10px;
  border: 1px solid var(--Light-Grey---border-stroke, rgba(153, 153, 153, 0.2));
}

.add-button {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--regular-text);
}

.active img {
  filter: brightness(2) saturate(250%) invert(45%) sepia(200%) saturate(150%) hue-rotate(50deg);
}




