:root {
  /* Colors */
  --background-white: #fbfbfb;
  --box-almost-white: #f5f4f2;
  --stroke-light-grey: #e7e7e7;
  --stroke-dark-grey: #b2b2b2;
  --passive-text-grey: #707070;
  --regular-text: #3b3b3b;
  --error-red: #a33130;
  --brand-light-green: #6f9c46;
  --icon-orange: #f9be83;

  /* Radius & Spacing */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 16px;
  --radius-xl: 20px;
  --radius-xxl: 24px;

  /* Typography */
  --main-family-font: "Helvetica", sans-serif;
  --logo-family-font: "Lemon", serif;
}
h1 {
  font-family: var(--main-family-font);
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--regular-text);
}

h2 {
  font-family: var(--main-family-font);
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--regular-text);
}

h3 {
  font-family: var(--main-family-font);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--regular-text);
}

h4 {
  font-family: var(--main-family-font);
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--regular-text);
}

h5 {
  font-family: var(--main-family-font);
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--regular-text);
}

h6 {
  font-family: var(--main-family-font);
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--regular-text);
}