.post-button {
  width: 100%;
  padding: var(--radius-m, 12px) 0;
  border: none;
  border-radius: var(--radius-xxl, 20px);
  background-color: var(--brand-light-green, #6f9c46);
  color: var(--background-white, #fbfbfb);
  cursor: pointer;
}
