.post-picture-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin: 25px 0px;
}
/* .post-picture-card img {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  object-fit: cover;
} */

.post-picture-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 15px 20px;
  gap: 5px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.post-picture-card .icon h6 {
  color: #333333;
  margin: 0;
}

.post-picture-card .icon-image {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.post-picture-card .icon:hover {
  border-color: #b0b0b0;
  background-color: #f5f5f5;
}
