.post-button {
  width: 100%;
  padding: var(--radius-l, 100px);
  border: none;
  border-radius: var(--radius-xxl, 20px);
  background-color: var(--brand-light-green, #6f9c46);
  color: var(--background-white, #fbfbfb);
  cursor: pointer;
  font-size: 0.85rem;
}

.post-button-post {
  background-color: var(--brand-light-green, #6f9c46);
}

.kladder-button-post {
  background-color: var(--background-white, #fbfbfb);
  color: var(--regular-text, #6f9c46);
  border: 1px solid var(--stroke-light-grey, #e7e7e7);
}