.account-page {
    display: flex;
    flex-direction: column;
    gap: var(--radius-xl);
}

#edit-profile-button {
    width: 100%;
    cursor: pointer;
    background-color: none;
    border: 1px solid var(--stroke-dark-grey);
    border-radius: var(--xxl, 40px);
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-element-container {
    display: flex;
    flex-direction: column;
    gap: var(--radius-m);
     padding: 8px 16px;
}