.account-posted-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px 20px 100px;
  margin-bottom: 100px;

}

.title-small-card {
  font-size: 1rem;
}

.account-posted-content #small-card {
  max-width: 100%;
  width: 100%;
}