#small-card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#country-circle-card-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#sort-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  gap: 1rem;
}

#plan-to-travel-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin-bottom: 7rem;
}
